<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion bussiness</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<header>
  <h1 class="name" id="header">Threads by <span> Hawa O.</span>&trade;</h1>
  <i id="show-nav" class="fas fa-bars"></i>
  <nav id="nav">
      <ul id="nav-list">
        <li>
          <a href="/" class="icon-text">
              <i class="fas fa-user-friends"></i>Home</a>
      </li>
          <li>
              <a href="login" class="icon-text">
                  <i class="fas fa-shopping-cart"></i>Login</a>
          </li>
          <li>
              <a href="register" class="icon-text">
                  <i class="fas fa-user-friends"></i>Register</a>
          </li>
          
  
      </ul>
  </nav>
</header>

<div id="index" class="transition">
  <img src="https://source.unsplash.com/1600x900/?clothes fashion.jpg" alt="" id="index-img">
  <div class="index-text">
      <h2 class="name">Threads by <span>Hauwa O.</span>&trade;</h2>

  </div>
  <i id="index-prev" class="fas fa-angle-left"></i>
  <i id="index-next" class="fas fa-angle-right"></i>
  <div id="dots">
      <div class="dot fill" id="dot1"></div>
      <div class="dot" id="dot2"></div>
      <div class="dot" id="dot3"></div>
  </div>
</div>

<div>
  <div class="container" id="gallery">
      <h3>SHOP</h3>
      <p>Ready to own to your first <span class="name">Threads by <span>Hauwa O.</span>&trade;</span> outfit?</p>
      <div>
          <div class="gallery-item" style="grid-area: 1/1/2/3;">
              <img src="https://source.unsplash.com/1600x900/?denim wear" alt="">
              <div class="overlay">
                  <div class="text">
                      <p>Denim Wears</p>
                      <i class="fas fa-shopping-cart shop"></i>
                  </div>
              </div>
          </div>

          <div class="gallery-item" style="grid-area: 2/1/3/2;">
              <img src="https://source.unsplash.com/1600x900/?prom gown" alt="">
              <div class="overlay">
                  <div class="text">
                      <p>Outfit Description</p>
                      <i class="fas fa-shopping-cart shop"></i>
                  </div>
              </div>
          </div>

          <div class="gallery-item" style="grid-area: 2/2/3/3;">
              <img src="https://source.unsplash.com/1600x900/?shirt" alt="">
              <div class="overlay">
                  <div class="text">
                      <p>Outfit Description</p>
                      <i class="fas fa-shopping-cart shop"></i>
                  </div>
              </div>
          </div>

          <div class="gallery-item" style="grid-area: 1/3/3/5;">
              <img src="https://source.unsplash.com/1600x900/?fashion" alt="">
              <div class="overlay">
                  <div class="text">
                      <p>Outfit Description</p>
                      <i class="fas fa-shopping-cart shop"></i>
                  </div>
              </div>
          </div>

          <div class="gallery-item" style="grid-area: 1/5/3/6;">
              <img src="https://source.unsplash.com/1600x900/?clothes" alt="">
              <div class="overlay">
                  <div class="text">
                      <p>Outfit Description</p>
                      <i class="fas fa-shopping-cart shop"></i>
                  </div>
              </div>
          </div>

          <div class="gallery-item" style="grid-area: 3/1/4/2;">
              <img src="https://source.unsplash.com/1600x900/?suit blacktie" alt="">
              <div class="overlay">
                  <div class="text">
                      <p>Outfit Description</p>
                      <i class="fas fa-shopping-cart shop"></i>
                  </div>
              </div>
          </div>

          <div class="gallery-item" style="grid-area: 3/2/4/4;">
              <img src="https://source.unsplash.com/1600x900/?skirt" alt="">
              <div class="overlay">
                  <div class="text">
                      <p>Outfit Description</p>
                      <i class="fas fa-shopping-cart shop"></i>
                  </div>
              </div>
          </div>

          <div class="gallery-item" style="grid-area: 3/4/4/6;">
              <img src="https://source.unsplash.com/1600x900/?garment clothes" alt="">
              <div class="overlay">
                  <div class="text">
                      <p>Outfit Description</p>
                      <i class="fas fa-shopping-cart shop"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="container" id="team">
      <h3>OUR TEAM</h3>
      <p>
          At <span class="name">Threads by <span>Hauwa O.</span>&trade;</span>, we are dedicated to giving you the
          best
          bla
          blah blah Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, labore.
      </p>
      <div>
          <div class="flip-card">
              <div class="flip-card-inner">
                  <div class="card front">
                      <div class="profile-img">
                          <img src="https://source.unsplash.com/1600x900/?black woman" alt="Oladapo Hauwa">
                      </div>
                      <div class="profile-info">
                          <h4>Oladapo Hauwa</h4>
                          <p class="title grey">CEO & Founder, Threads by Hauwa O.</p>
                          <p>
                              Lorem ipsum dolor sit amet consectetur adipisicing elit.
                          </p>
                          <button class="contact btn">CONTACT</button>
                      </div>
                  </div>
                  <div class="card back">
                      <a href="mailto:chisomaruby@gmail.com?Subject=Hello Hauwa!&body=Hwfa?" target="_blank"><i
                              class="fas fa-envelope-square"></i></a>
                      <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
                      <a href="https://www.pinterest.com" target="_blank"><i class="fab fa-pinterest"></i></a>
                      <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                      <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
                  </div>
              </div>
          </div>

          <div class="flip-card">
              <div class="flip-card-inner">
                  <div class="card front">
                      <div class="profile-img">
                          <img src="https://source.unsplash.com/1600x900/?black man" alt="Employee Name">
                      </div>
                      <div class="profile-info">
                          <h4>Employee Name</h4>
                          <p class="title grey">Job Description</p>
                          <p>
                              Lorem ipsum dolor sit amet consectetur adipisicing elit.
                          </p>
                          <button class="contact btn">CONTACT</button>
                      </div>
                  </div>
                  <div class="card back">
                      <a href="https://www.pinterest.com" target="_blank"><i class="fab fa-pinterest"></i></a>
                      <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                      <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                  </div>
              </div>
          </div>

          <div class="flip-card">
              <div class="flip-card-inner">
                  <div class="card front">
                      <div class="profile-img">
                          <img src="https://source.unsplash.com/1600x900/?woman" alt="Arubuike Chisom">
                      </div>
                      <div class="profile-info">
                          <h4>Arubuike Chisom</h4>
                          <p class="title grey">Moral Support Agent</p>
                          <p>
                              Lorem ipsum dolor sit amet consectetur adipisicing elit.
                          </p>
                          <button class="contact btn">CONTACT</button>
                      </div>
                  </div>
                  <div class="card back">
                      <a href="mailto:chisomaruby@gmail.com?Subject=Hello Chisom&body=Hwfa?" target="_blank"><i
                              class="fas fa-envelope-square"></i></a>
                      <a href="https://www.pinterest.com" target="_blank"><i class="fab fa-pinterest"></i></a>
                      <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                      <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>

  

<footer>
  <div>
      <a href="mailto:chisomaruby@gmail.com?Subject=Hello Hauwa!&body=Hwfa?" target="_blank"><i
              class="fas fa-envelope-square"></i></a>
      <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://www.pinterest.com" target="_blank"><i class="fab fa-pinterest"></i></a>
      <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
  </div>
  <a href="#gallery">Gallery</a>
  <a href="#team">Our Team</a>
  <a href="#contact">Contact</a>
  <p>&copy;2021 <span class="name">Threads by <span>Hauwa O.</span>&trade;</span></p>
  <a href="#index" class="icon-text">
      <p>Back to top</p>
      <i class="fas fa-angle-up"></i>
  </a>
</footer>