<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion bussiness</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<header>
    <h1 class="name" id="header">Threads by <span> Hawa O.</span>&trade;</h1>
    <i id="show-nav" class="fas fa-bars"></i>
    <nav id="nav">
        <ul id="nav-list">
            <li>
                <a href="/" class="icon-text">
                    <i class="fas fa-user-friends"></i>Home</a>
            </li>
            <li>
                <a href="login" class="icon-text">
                    <i class="fas fa-shopping-cart"></i>Login</a>
            </li>
            <li>
                <a href="register" class="icon-text">
                    <i class="fas fa-user-friends"></i>Register</a>
            </li>
            
    
        </ul>
    </nav>
  </header>
  
<div class="container" id="contact">
    <h3>Register Here</h3>
    
    <div>
        <div>
            <address>
                <p class="icon-text">
                    <i class="fas fa-map-marker-alt"></i>
                    London 
                </p>
                <p class="icon-text">
                    <i class="fas fa-phone-alt"></i>
                    +234 8045328546
                </p>
                <p class="icon-text">
                    <i class="fas fa-envelope-open"></i>
                    threadsbyHauwa O.<wbr>@gmail.com
            </p>
            </address><br>

            <form action="/register" method="post">
                <input type="text" name="username" placeholder="Name" required>
                <input type="text" name="city" placeholder="City">
                <input type="text" name="age" placeholder="Your Age" >
                <input type="password" name="password" placeholder="Password" required>
            
        
                <button id="send" class="icon-text btn" form="contact-form">
                    <p>Register</p>
                    <i class="far fa-paper-plane"></i>
                </button>
            </form>
        </div>
    </div>
</div>
</div>