@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');


:root {
    --brand: hotpink;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

/* HEADER */
header {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    position: relative;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

header::before {
    background: white;
}

h1 {
    font-size: 1em;
    padding: 0 0.5em;
}

#show-nav {
    justify-self: flex-end;
}

#close-nav {
    margin-top: 1em;
    color: white;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    transition: .6s linear;
    height: 100%;
    width: 0%;
    overflow-x: hidden;
}

nav::before {
    background-color: black;
}

nav>ul {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav>ul>li {
    justify-content: center;
}

nav>ul>li>a {
    width: 100%;
    padding: 0.5em 0;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

nav>ul>li>a:hover {
    color: var(--brand);
    text-decoration: none;
}


/* LANDING PAGE */
#index {
    width: 100%;
    height: calc(100vw / 3);
    position: relative;
    background: black;
    color: white;
    overflow: hidden;
}

h2 {
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 4vw;
    position: relative;
    width: 100%;
}

#index-img {
    height: 100%;
    width: 100%;
    opacity: 0.5;
}


.index-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#index-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#index-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

}

#dots {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    top: 99%;
    transform: translateY(-99%);
}

.dot {
    width: 10px;
    height: 10px;
    background-color: lightgray;
    border-radius: 50%;
    margin: 0 0.1em;
    transition: .4s ease;
}

.fill {
    background-color: grey;
}

/* GAllERY */
.gallery-item {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin: 0.5em 0;
}

.gallery-item>img {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: .5s ease;

}

.overlay::before {
    background: black;
    z-index: 0 !important;
}

.gallery-item:hover .overlay {
    bottom: 0;
}

.gallery-item .text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.text>p {
    letter-spacing: 1px;
    font-size: 1.3em;
    color: white;
}

.shop,
.btn {
    transition: .4s ease;
}

.shop:hover {
    opacity: 0.7;
}

.text>p,
.text>i {
    z-index: 1;
}



/* OUR TEAM */
.flip-card {
    background-color: whitesmoke;
    position: relative;
    height: 560px;
    width: 100%;
    perspective: 1000px;
    margin-bottom: 1em;
}

.flip-card-inner {
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.rotate {
    transform: rotateY(180deg);
}

.flip-card .card {
    background-color: white;
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
}

.flip-card .front {
    display: grid;
}

.flip-card .back {
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.flip-card .profile-img {
    height: 250px;
    overflow: hidden;
    background-color: black;
}

.flip-card .profile-img>img {
    height: 100%;
    width: 100%;
}

.flip-card .profile-info {
    padding: 1em;
}


/* CONTACT */
#contact {
    text-align: center;
    padding: 0;
}

#contact>div {
    background: rgba(0, 0, 0, 0.7) url("https://source.unsplash.com/1600x900/?clothes in wardrobe") no-repeat fixed center;
    background-size: cover;
    min-height: 350px;
    padding: 0.5em;
}

#contact>div>div {
    padding: 2em;
    position: relative;
    z-index: 1;
}

#contact>div>div::before {
    background: white;
}

address {
    font-style: normal;
    text-align: left;
}

address>p {
    margin: 0.5em;
    align-self: flex-start;
}

#contact form {
    text-align: left;
}

input {
    display: block;
    border: 1px solid lightgray;
    height: 3em;
    width: 100%;
    padding: 1em;
    margin: 0.2em 0;
}

input::placeholder {
    font-size: 1.2em;
}

#send {
    width: 100%;
    justify-content: center;
}

.icon-text>p {
    margin: 0;
}



/* FOOTER */
footer {
    text-align: center;
    color: white;
    position: relative;
    border-top: 1px solid white;
    padding: 0.5em;
}

footer>a,
footer>div a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    margin-left: 0.2em;
    margin-right: 0.2em;
    transition: .8s ease;
}

footer>a:hover,
footer>div>a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.footer>div {
    margin-bottom: 1em;
}


footer>p {
    margin: 0.5em;
}

footer>.icon-text {
    justify-content: center;
}

footer::before {
    background: black;
}






/* ELEMENTS */
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

h4 {
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: 300;
}


/* CLASSES */
:is(footer, header, .overlay, .parallax, #contact>div>div, nav)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.8;
}

.name {
    font-family: 'reenie beanie', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.name>span {
    color: var(--brand);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

.btn {
    background-color: black;
    color: white;
    border: none;
    padding: 0.5em 1em;
    margin-top: 0.5em;
}

.btn:hover {
    opacity: 0.7;
}

.container {
    padding: 1em;
}

.container>h3 {
    text-align: center;
    font-weight: 100;
    letter-spacing: 3px;
    font-size: 1.5em;
}

.container>p {
    color: grey;
    text-align: center;
}

.box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.grey {
    color: grey;
}

.icon-text {
    display: flex;
    align-items: center;
}

a:hover {
    text-decoration: underline;
}

.fa,
.fas,
.far,
.fab {
    margin: 0 0.3em;
}

#gallery>div .gallery-item .fas {
    color: white;
    font-size: 48px;
}

.flip-card .fab,
.flip-card .fas,
#gallery .fas {
    font-size: 2em;
    margin: 0 0.5rem;
    transition: .4s ease;
}

.flip-card .fab:hover,
.flip-card .fas:hover,
#gallery .fas:hover {
    color: var(--brand);
}

.transition {
    animation: trans 1s ease forwards;
}

@keyframes trans {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

@media screen and (min-width:600px) {

    /* HEADER */
    #show-nav,
    #close-nav {
        display: none;
    }

    nav {
        display: block;
        position: relative;
        width: 100%;
    }

    nav::before {
        background: none;
    }

    nav>ul {
        display: flex;
        flex-flow: row;
        position: relative;
        justify-content: flex-end;
    }

    nav>ul>li>a {
        color: grey;
        border: none;
        margin: 0 0.5em;
    }


    /* GAllERY */
    #gallery>div {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 300px);
        gap: 0.5em;
    }

    .gallery-item {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        margin: 0;
    }

    /*OUR TEAM*/
    #team>div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flip-card {
        margin: 0.5em;
    }

    /*CONTACT*/
    #contact>div>div {
        position: absolute;
        right: 2em;
    }





}

@media screen and (min-width:768px) {}